.sidebar {
    --cui-sidebar-width: 16rem;
    --cui-sidebar-bg:#ff1E1C;
    --cui-sidebar-padding-x: 0;
    --cui-sidebar-padding-y: 0;
    --cui-sidebar-color: rgba(255, 255, 255, 0.87);
    --cui-sidebar-border-width: 0;
    --cui-sidebar-border-color: transparent;
    --cui-sidebar-brand-color: rgba(255, 255, 255, 0.87);
    --cui-sidebar-brand-height: 4rem;
    --cui-sidebar-brand-bg: rgba(0, 0, 21, 0.2);
    --cui-sidebar-header-height: 4rem;
    --cui-sidebar-header-bg: rgba(0, 0, 21, 0.2);
    --cui-sidebar-header-padding-x: 1rem;
    --cui-sidebar-header-padding-y: 0.75rem;
    --cui-sidebar-footer-bg: rgba(0, 0, 21, 0.2);
    --cui-sidebar-footer-height: auto;
    --cui-sidebar-footer-padding-x: 1rem;
    --cui-sidebar-footer-padding-y: 0.75rem;
    --cui-sidebar-toggler-bg: rgba(0, 0, 21, 0.2);
    --cui-sidebar-toggler-height: 3rem;
    --cui-sidebar-toggler-indicator: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 11 14%27%3E%3Cpath fill=%27%238a93a2%27 d=%27M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z%27/%3E%3C/svg%3E);
    --cui-sidebar-toggler-indicator-width: 4rem;
    --cui-sidebar-toggler-indicator-height: 3rem;
    --cui-sidebar-toggler-hover-bg: rgba(0, 0, 0, 0.3);
    --cui-sidebar-toggler-indicator-hover: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 11 14%27%3E%3Cpath fill=%27rgba%28255, 255, 255, 0.87%29%27 d=%27M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z%27/%3E%3C/svg%3E);
    --cui-sidebar-narrow-width: 4rem;
    --cui-sidebar-nav-title-padding-x: 1rem;
    --cui-sidebar-nav-title-padding-y: 0.75rem;
    --cui-sidebar-nav-title-margin-top: 1rem;
    --cui-sidebar-nav-title-color: rgb(255, 255, 255);
    --cui-sidebar-nav-link-padding-x: 1rem;
    --cui-sidebar-nav-link-padding-y: 0.8445rem;
    --cui-sidebar-nav-link-color: rgb(255, 255, 255);
    --cui-sidebar-nav-link-bg: transparent;
    --cui-sidebar-nav-link-border-color: transparent;
    --cui-sidebar-nav-link-border: 0 solid var(--cui-sidebar-nav-link-border-color);
    --cui-sidebar-nav-link-border-radius: 0;
    --cui-sidebar-nav-link-active-color: rgba(255, 255, 255, 0.87);
    --cui-sidebar-nav-link-active-bg: rgba(255, 255, 255, 0.05);
    --cui-sidebar-nav-link-active-icon-color: rgba(255, 255, 255, 0.87);
    --cui-sidebar-nav-link-disabled-color: rgba(255, 255, 255, 0.38);
    --cui-sidebar-nav-link-disabled-icon-color: rgba(255, 255, 255, 0.6);
    --cui-sidebar-nav-link-hover-color: rgba(255, 255, 255, 0.87);
    --cui-sidebar-nav-link-hover-bg: rgba(255, 255, 255, 0.05);
    --cui-sidebar-nav-link-hover-icon-color: rgba(255, 255, 255, 0.87);
    --cui-sidebar-nav-icon-width: 4rem;
    --cui-sidebar-nav-icon-height: 1.25rem;
    --cui-sidebar-nav-icon-font-size: 1.25rem;
    --cui-sidebar-nav-link-icon-color: rgb(255 255 255);
    --cui-sidebar-nav-group-bg: rgba(0, 0, 0, 0.2);
}

.header {
    --cui-header-min-height: 4rem;
    --cui-header-padding-x: 0.5rem;
    --cui-header-padding-y: 0.5rem;
    --cui-header-bg: #fff;
    --cui-header-color: rgb(255, 255, 255);
    --cui-header-border-color: #d8dbe0;
    --cui-header-border: 1px solid var(--cui-header-border-color);
    --cui-header-hover-color: rgba(44, 56, 74, 0.95);
    --cui-header-disabled-color: rgba(44, 56, 74, 0.38);
    --cui-header-active-color: rgba(44, 56, 74, 0.95);
    --cui-header-brand-padding-y: 0.3125rem;
    --cui-header-brand-color: #4f5d73;
    --cui-header-brand-hover-color: #ffffff;
    --cui-header-toggler-padding-x: 0.75rem;
    --cui-header-toggler-padding-y: 0.25rem;
    --cui-header-toggler-bg: transparent;
    --cui-header-toggler-color: rgb(255, 255, 255);
    --cui-header-toggler-border-radius: 0.375rem;
    --cui-header-toggler-hover-color: rgba(255, 255, 255, 0.95);
    --cui-header-toggler-icon-bg: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox=%270 0 30 30%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath stroke=%27rgba%2844, 56, 74, 0.681%29%27 stroke-width=%272.25%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3E%3C/svg%3E);
    --cui-header-toggler-hover-icon-bg: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox=%270 0 30 30%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath stroke=%27rgba%2844, 56, 74, 0.95%29%27 stroke-width=%272.25%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3E%3C/svg%3E);
    --cui-header-nav-link-padding-x: 0.5rem;
    --cui-header-nav-link-padding-y: 0.5rem;
    --cui-header-divider-border-color: #d8dbe0;
    /* --cui-header-divider-border: 1px solid var(--cui-header-divider-border-color); */
    /* --cui-subheader-min-height: 3rem; */
    position: relative;
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: var(--cui-header-min-height);
    /* padding: var(--cui-header-padding-y) var(--cui-header-padding-x); */
     background: #0f424d; 
    border-bottom: var(--cui-header-border);
}

.sidebar-brand {
    color: #fbfbfb;
    background: #0f424d; 
}

INPUT:not(:-webkit-autofill), SELECT:not(:-webkit-autofill), TEXTAREA:not(:-webkit-autofill) {
    animation-name: onautofillcancel;
    width: 210%;
    border-color:white;
    background: #0f424d; 
    border-radius: 20px;
    color: white;
}

.Dicky {
    color: white;
}

.Logo {
    color: #fff;
}

